name: Project 4
on:
    push:
        branches: [master]
jobs:
    build-apk-pipeline:
        name: Build APK Pipeline
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Flutter
              uses: subosito/flutter-action@v2
              with:
                  flutter-version: '3.38.0'
                  cache: true
            - name: Install dependencies
              run: flutter pub get

            - name: Build APK
              run: flutter build apk --release
            - name: Upload APK
              uses: actions/upload-artifact@v4
              with:
                  name: app-release-apk
                  path: build/app/outputs/flutter-apk/app-release.apk

            - name: Build AAB
              run: flutter build appbundle --release
            - name: Upload AAB
              uses: actions/upload-artifact@v4
              with:
                  name: app-release-aab
                  path: build/app/outputs/bundle/release/app-release.aab